

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!DOCTYPE html>
<script>

    $(function () {
        gridList();

    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/MedicalExpenseReport/GetGridJson",
            height: $(window).height() - 96,
            postData:
            {
                StartTime: $("#startTime").val(),
                EndTime: $("#endTime").val(),
                PatientName: $("#txt_PatientName").val(),
                IdCardNo: $("#txt_IdCardNo").val(),
                OrganizationCode: ""

            },
            colModel: [
                { label: "主键", name: "BusinessId", hidden: true, key: true },
                { label: '机构', name: 'OrganizationName', width: 200, align: 'left' },
                { label: '病人姓名', name: 'PatientName', width: 80, align: 'left' },
                { label: '身份证号', name: 'IdCardNo', width: 120, align: 'left' },
                { label: '诊断', name: 'DiagnosticJson', width: 150, align: 'left' },
                { label: '联系电话', name: 'ContactPhone', width: 100, align: 'left' },
                { label: '经办人', name: 'Operator', width: 80, align: 'left' },
                {
                    label: '就诊日期',
                    name: 'VisitDate',
                    width: 120,
                    align: 'left',
                    formatter: "date",
                    formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                { label: '合计金额', name: 'MedicalTreatmentTotalCost', width: 80, align: 'left' },
                { label: '报销金额', name: 'ReimbursementExpensesAmount', width: 80, align: 'left' },
                { label: '历年结转', name: 'CarryOver', width: 80, align: 'left' },
                { label: '标记', name: 'Sign', width: 40, align: 'left' },
                {
                    label: '报销日期',
                    name: 'SettlementTime',
                    width: 120,
                    align: 'left',
                    formatter: "date",
                    formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                { label: '参保地', name: 'CommunityName', width: 150, align: 'left' }
                //{
                //    label: "有效",
                //    name: "IsRevoke",
                //    width: 60,
                //    align: "center",
                //    formatter: function(cellvalue) {
                //        return cellvalue === false
                //            ? "<i class=\"fa fa-toggle-on\"></i>"
                //            : "<i class=\"fa fa-toggle-off\"></i>";
                //    }
                //}
            ],
            pager: "#gridPager",
           
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam',
                {
                    postData:
                    {
                        StartTime: $("#startTime").val(),
                        EndTime: $("#endTime").val(),
                        PatientName: $("#txt_PatientName").val(),
                        IdCardNo: $("#txt_IdCardNo").val(),
                        OrganizationCode: ""
                    }
                }).trigger('reloadGrid');

        });

    }




</script>
<div class="topPanel">
    <div class="toolbar" style="float: left">
   
        @*<div class="btn-group" style="margin-left: 20px; width: 60px;height: 32px;">
                <select id="PatientState" onchange="PatientStateChange();" class="form-control" style="padding: 0px;height: 32px;">
                    <option value="0">住院</option>
                    <option value="1">门诊</option>
                </select>
            </div>*@
        <div class="btn-group" style="margin-left: 15px;">
            <span>姓名:</span>
        </div>
        <div class="btn-group" style="height: 30px;">

            <input id="txt_PatientName" type="text" class="form-control" placeholder="病人姓名" style="width: 200px; height: 20px">
        </div>
        <div class="btn-group" style="margin-left: 15px;">
            <span>身份证号:</span>
        </div>
        <div class="btn-group" style="height: 30px;">

            <input id="txt_IdCardNo" type="text" class="form-control" placeholder="身份证号" style="width: 200px; height: 20px">
        </div>
        <div class="btn-group" style="margin-left: 5px;">
            操作开始日期：
            <input type="text" class="Wdate" name="SettlementStartTime" id="startTime"
                   onClick="WdatePicker({ autoPickDate: true, dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'startTime\')||\'new Date()\'}', readOnly: true });" style="width: 120px;"/>
            操作结束日期：
            <input type="text" class="Wdate" name="SettlementEndTime" id="endTime"
                   onClick="WdatePicker({ autoPickDate: true, dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'endTime\')}', maxDate: new Date(), readOnly: true });" style="width: 120px;"/>
        </div>
        <div class="btn-group" style="margin-left: 5px;">
            <a class="btn btn-primary" id="btn_search">查询</a>


        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

